/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F   &kp P  &kp B        &kp J    &kp L  &kp U          &kp Y    &kp LEFT_BRACKET  &kp SQT
&kp LCTRL  &kp A  &kp R  &kp S   &kp T  &kp G        &kp M    &kp N  &kp E          &kp I    &kp SEMI          &kp SEMICOLON
&kp LSHFT  &kp Z  &kp X  &kp C   &kp D  &kp V        &kp K    &kp H  &kp COMMA      &kp DOT  &kp MINUS         &kp SLASH
                         &tog 2  &mo 3  &kp SPACE    &kp RET  &mo 1  &kp BACKSPACE
            >;
        };

        Symbols {
            bindings = <
&kp TAB    &trans  &trans      &kp LBRC              &kp RBRC               &kp LT      &kp GT     &kp APOSTROPHE    &kp PIPE   &trans    &trans     &to 4
&kp ESC    &kp AT  &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp HASH    &kp ASTRK  &kp EXCL          &kp PRCNT  &kp AMPS  &kp QMARK  &trans
&kp LCTRL  &trans  &kp CARET   &kp LBKT              &kp RBKT               &trans      &kp TILDE  &kp SINGLE_QUOTE  &kp DQT    &trans    &trans     &trans
                               &trans                &trans                 &trans      &trans     &trans            &trans
            >;
        };

        Numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &none   &none   &none    &none    &none        &kp CARET  &kp N7  &kp N8    &kp N9  &kp MINUS  &kp BSPC
&kp LCTRL  &none   &kp F5  &kp F11  &kp F12  &trans       &kp MINUS  &kp N4  &kp N5    &kp N6  &kp PLUS   &kp ASTERISK
&kp LSHFT  &trans  &trans  &trans   &trans   &trans       &kp UNDER  &kp N1  &kp N2    &kp N3  &kp EQUAL  &kp SLASH
                           &none    &trans   &kp SPACE    &kp RET    &kp N0  &kp RALT
            >;
        };

        Navigation {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &none   &kp DEL   &kp UP    &kp INS    &kp C_VOLUME_UP    &kp C_NEXT        &kp PRINTSCREEN  &kp PAGE_UP    &none    &none   &kp C_BRIGHTNESS_INC
&kp ESC    &none   &kp LEFT  &kp DOWN  &kp RIGHT  &kp C_VOL_DN       &kp C_PLAY_PAUSE  &kp HOME         &kp PAGE_DOWN  &kp END  &trans  &kp C_BRI_DEC
&kp LCTRL  &trans  &trans    &trans    &trans     &kp K_MUTE         &kp C_PREV        &trans           &trans         &trans   &trans  &trans
                             &kp LGUI  &trans     &kp SPACE          &kp RET           &trans           &kp BACKSPACE
            >;
        };

        Game {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E   &kp R           &kp T        &kp Y      &kp U   &kp I          &kp O    &kp P          &kp LEFT_BRACKET
&kp ESC    &kp A  &kp S  &kp D   &kp F           &kp G        &kp H      &kp J   &kp K          &kp L    &kp SEMICOLON  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C   &kp V           &kp B        &kp N      &kp M   &kp COMMA      &kp DOT  &kp MINUS      &to 0
                         &trans  &kp LEFT_SHIFT  &kp SPACE    &kp ENTER  &trans  &kp BACKSPACE
            >;
        };
    };
};
